$primary: #0e2445; /* Custom primary color */
$secondary: #9e9491; /* Custom secondary color */
$tertiary: #333436;
$brand: #007bff; /* Custom brand color */
$body-bg: #15161a; /* Solid color for Bootstrap compatibility */
$text-color: #ffffff; /* Text color for the body */

$spacers: (
  0: 0,
  1: 0.25rem,
  2: 0.5rem,
  3: 1rem,
  4: 1.5rem,
  5: 3rem,
  6: 4rem,
  7: 5rem,
  8: 6rem,
  9: 8rem,
  10: 10rem,
  12: 12rem,
  15: 15rem,
);

$display-font-sizes: (
  1: 6rem,
  2: 4.5rem,
  3: 4rem,
  4: 3.5rem,
  5: 3rem,
  6: 1.25rem,
);

$form-select-indicator-color: #ffffff; // Change the arrow color to white

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "brand": $brand,
  "tertiary": $tertiary,
  "light": #ffffff,
  "warning": #ffc107,
  "danger": #dc3545,
  "success": #28a745,
  "info": #17a2b8,
  "purple": #6f42c1,
);

// Import Bootstrap from node_modules
@import "../node_modules/bootstrap/scss/bootstrap";

body {
  background-color: $body-bg; // Apply the solid background color
  color: $text-color; // Apply the text color
  min-height: 100vh; // Ensure the background covers the full viewport height
  margin: 0; // Remove default margin
}

.section {
  height: 94vh;
}

.hero {
  background: radial-gradient(
    circle at center,
    rgba(20, 52, 100, 1) 0%,
    /* Stronger color at the center */ rgba(21, 22, 26, 0.7) 45%,
    /* Midpoint with more transparency */ rgba(21, 22, 26, 0.5) 70%,
    /* Fading out more gradually */ #15161a 100% /* Fully faded at the edges */
  );
  border-radius: 1rem; // Optional: Add rounded corners
}

.custom-carousel {
  height: 85vh; // Set a fixed height for the carousel
  width: 900px; // Set a fixed width for the carousel
  margin: 0 auto; // Remove any default margins
  padding: 0; // Remove any default padding
  overflow: hidden; // Prevent content from overflowing
}

.custom-carousel .carousel-inner {
  width: 100%; // Ensure the inner container matches the carousel width
}

.custom-carousel .carousel-item img {
  width: 100vw; // Force the image to match the viewport width
  height: 100vh; // Optional: Make the image fill the viewport height
  object-fit: contain; // Ensure the image covers the container without distortion
}

@include media-breakpoint-up(lg) {
  .navbar {
    background-color: rgba(13, 110, 253, 1); /* 100% opacity */
  }
}

/* Change the color of the calendar icon */
input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1); /* Inverts the color to make it white */
  cursor: pointer; /* Ensures the cursor changes to a pointer */
}

/* Hide the default clock icon */
input[type="time"]::-webkit-calendar-picker-indicator {
  filter: invert(1); /* Inverts the color to make it white */
  cursor: pointer; /* Ensures the cursor changes to a pointer */
}
