$primary: #0E2445; /* Custom primary color */
$secondary: #343a40; /* Custom secondary color */
$brand: #007bff; /* Custom brand color */

// Import Bootstrap from node_modules
@import "../node_modules/bootstrap/scss/bootstrap";